#app {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Split content to left and right */
.split-wrapper {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.split-wrapper .split-primary {
    flex: 1;
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.expand {
    min-height: 100%;
}

#splash {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splash img {
    max-width: 50vw;
    max-height: 50vh;
    /* fix for visual balance */
    transform: translateX(13%);
}

#error {
    width: 100vw;
    height: 100vh;
    padding: 16px;
    color: #EE3300;
}

#error-stack {
    font-size: xx-small;
}
