#app {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For development only */
.v-application {
    background-color: lightblue !important;
}