#app {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* For development only */
.v-application {
    background-color: lightblue !important;
}